*{
    padding: 0px;
    margin: 0px;
}

.btn-submit{
    display: block;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 10px auto;
    margin-bottom: 15px;
    border: 2px solid black;
    background-color: rgb(74, 174, 255);
    color: white;
    border-radius: 4px;
    width: fit-content;
}

.todo-input input{
    width: 300px;
}

input:nth-child(4){
    height: 100px;
}

.todo-list{
    background-color: rgb(241, 241, 241);
    width: 50%;
    margin: 20px auto;
    border-radius: 20px;
}

#add-btn{
    border: none;
    outline: none;
    display: block;
    width: 3em;
    margin: 5px auto;
    padding-bottom: 10px;
}

